body{
    background-position: 25% 75%;
    background-image: url("images/bckgrd.jpg");
    padding-left: 100px;
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif;
}

#comp{
    width: 200px;
    height: 200px;
}

.flex-container{
    display: flex;
    flex-direction: row;
}

.flex-item{
    margin: 10px;
}

#nav{
    overflow: hidden;
    background-color: cornsilk;
    width: 1000px;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li{
    float: left;
}

#homenav{
    margin-left: 25px;
}

li a{
    display: block;
    padding: 10px 30px;
    align-content: center;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: darkcyan;
    color: antiquewhite;
}

.grid-container{
    display: grid;
    grid-template-columns: repeat(2,2fr);
    width: 1000px;
    margin: 0;
    padding: 0;
}

.grid-item{
    padding-top: 10px;
}

.flex-container{
    display: flex;
    flex-direction: column;
    position: relative;
}

.flex-item1{
    background-color: white;
    margin-top: 10px;
    height: 200px;
    width: 600px;
    padding: 30px;
}
.flex-item1 h2{
color: darkorange;
}
.flex-item1 .italics{
    font-style: italic;
}
.flex-item2{
    position: absolute;
    background-color: white;
    margin-top: 10px;
    height: 150px;
    width: 300px;
    padding-right: 0;
}

#abs1{
    right: 0;
    top: 0;
}

#abs2{
    right: 0;
    top: 170px;
}

#abs3{
    right:0;
    top: 340px;
}

footer{
    background-color: cornsilk;
    padding: 3px 0 3px 30px;
    width: 970px;
    overflow: hidden;
}

footer a{
    text-decoration: none;
    color: darkorange;
}

footer a.active{
    color:aqua;
}